mixin contact-form(title, mods)
  -
    const baseName = 'contact-form'
    let allMods = ''
    if (typeof mods !== 'undefined' && mods) {
      const modsList = mods.split(',')
      for (const element of modsList) {
        allMods += element.trim()[0] === '_' ? ' ' + baseName + element.trim() : ' ' + element.trim() + '__' + baseName
      }
      allMods = allMods.trim()
    }
  section.contact-form(class=allMods)&attributes(attributes)
    form
      .contact-form__squiggy-shape
        +picture('squiggy-shape.png')
      .contact-form__squiggy-heart
        +picture('squiggy-heart.png')
      h2.contact-form__head!= title
      +ui-input({id: 'name', label: 'Ваше имя'})(placeholder='Ваше имя')(
        data-validate='text'
      )(
        minlength=3
      )
      //- input(type='email')(placeholder='E-mail')(data-validate='email')(data-error-message='')
      +ui-input({id: 'email', label: 'Email'})(data-validate='email')(placeholder='Email')
      +ui-input({id: 'number', label: 'Телефон'}, type='tel')(data-validate='tel')(
        placeholder='Телефон'
      )(
        data-mask-phone=''
      )
      textarea(name='', cols='30', rows='6')(placeholder='Сообщение')(data-error-message='')
      span(data-error-container='')(class='text-red-400')
      .contact-form__bottom-panel
        span Нажимая на кнопку «Отправить» я даю согласие на условия #[a(class='inline cursor-pointer text-[#0A8]') политики в отношении обработки персональных данных]
        button Отправить
