mixin reset
  svg(
    class=attributes.class,
    xmlns='http://www.w3.org/2000/svg',
    width='18',
    height='18',
    viewBox='0 0 48 48',
    fill='none'
  )
    path(
      d='M18.15 18.15L29.85 29.85',
      stroke='#A5B7B3',
      stroke-width='2',
      stroke-linecap='round',
      stroke-linejoin='round'
    )
    path(
      d='M18.15 29.85L29.85 18.15',
      stroke='#A5B7B3',
      stroke-width='2',
      stroke-linecap='round',
      stroke-linejoin='round'
    )
mixin tick
  svg(
    width='24',
    height='24',
    viewBox='0 0 24 24',
    fill='none',
    xmlns='http://www.w3.org/2000/svg'
  )
    path(
      d='M20 7L14.6093 13.4688C12.4732 16.0322 11.4051 17.3139 10 17.3139C8.59488 17.3139 7.52681 16.0322 5.39067 13.4688L4 11.8',
      stroke='#62215B',
      stroke-width='2',
      stroke-linecap='round'
    )
mixin arrow-bottom
  svg(width='28', height='28', viewBox='0 0 28 28', fill='none', xmlns='http://www.w3.org/2000/svg')
    path(d='M16 17L11 22M11 22L6 17M11 22L11 10C11 8.93913 11.4214 7.92172 12.1716 7.17157C12.9217 6.42143 13.9391 6 15 6L22 6', stroke='#5C5772', stroke-linecap='round', stroke-linejoin='round')

mixin more
    svg(xmlns="http://www.w3.org/2000/svg", style="display: inline-block; vertical-align: middle;", viewBox="0 0 24 24", fill="none")
        path(d="M5 10C3.9 10 3 10.9 3 12C3 13.1 3.9 14 5 14C6.1 14 7 13.1 7 12C7 10.9 6.1 10 5 10Z", stroke="white", stroke-width="2")
        path(d="M19 10C17.9 10 17 10.9 17 12C17 13.1 17.9 14 19 14C20.1 14 21 13.1 21 12C21 10.9 20.1 10 19 10Z", stroke="white", stroke-width="2")
        path(d="M12 10C10.9 10 10 10.9 10 12C10 13.1 10.9 14 12 14C13.1 14 14 13.1 14 12C14 10.9 13.1 10 12 10Z", stroke="white", stroke-width="2")